---
import { formatDate } from "@/utils/formatDate.js";
const { article } = Astro.props;
---

<a href={`/article/${article.slug}`} class="items-center p-6 transition">
  <div class="bg-cardColor p-6 rounded-2xl duration-100 hover:scale-[1.02]">
    <time class="text-sm">{formatDate(article.data.pubDate)}</time>
    <h1 class="font-bold text-white text-2xl my-3">{article.data.title}</h1>
    <p class="mb-5">
      {article.data.description}
    </p>
    <div class="flex gap-2 flex-wrap">
      {
        article.data.tags.map((tag) => {
          return (
            <span class="block w-max py-1 px-4 rounded bg-[#ffffff20] text-white ">{tag}</span>
          );
        })
      }
    </div>
  </div>
</a>
